<div class="container">
  <section class="movie-detail">
    <div class="cover">
      <img
        loading="lazy"
        [src]="posterPath + movieDetail.poster_path"
        [alt]="movieDetail.title"
      />
    </div>
    <div class="details">
      <h1 class="title">
        {{ movieDetail.title }}
        <span class="year"
          >({{ movieDetail.release_date | date : "yyyy" }})</span
        >
      </h1>
      <div class="info">
        <p class="release-date">
          <strong>Lançamento:</strong>
          {{ movieDetail.release_date | date : "dd MMM yyyy" }}
        </p>
        <p class="tag-genre">
          <strong>Gênero:</strong> {{ movieDetail.genres[0].name }}
        </p>
        <p class="imdb">
          <strong>IMDB: </strong>
          {{ movieDetail.vote_average | number : "1.1-1" }}
        </p>
      </div>

      <h2 class="desc-title">Descrição</h2>
      <p class="tag-desc">{{ movieDetail.overview }}</p>

      <div class="action">
        <a class="btn-primary">
          <i class="fa-regular fa-circle-play fa-xl"></i>
          Trailer
        </a>
        <a routerLink="/home" class="btn-outlined">Voltar</a>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
