.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .movie-detail {
    width: 90%;
    height: 100%;
    margin: 5%;
    padding: 2rem;
    background: rgba($color: #000, $alpha: 0.5);
    display: grid;
    align-items: center;
    grid-template-columns: 300px 1fr;
    column-gap: 2rem;

    .cover {
      img {
        width: 300px;
        border-radius: 8px;
      }
    }

    .details {
      color: var(--white);

      .title {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 0.3rem;

        .year {
          font-weight: 300;
          color: var(--body);
        }
      }

      .info {
        display: flex;
        gap: 2rem;

        .release-date,
        .tag-genre,
        .imdb {
          font-size: 1.2rem;
          margin-bottom: 4rem;
          color: var(--body);
        }
      }

      .desc-title {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
      }

      .tag-desc {
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: 3rem;
      }

      .action {
        display: flex;
        align-items: center;

        .btn-primary {
          padding: 1rem 1.5rem;
          margin-right: 1rem;
          border-radius: 8px;
          border: 0;
          background: var(--primary);
          color: var(--white);
          font-weight: 600;
          cursor: pointer;
          transition: 0.1s all;
          text-decoration: none;
          margin-right: 1rem;

          &:hover {
            background: var(--primaryHover);
          }
        }

        .btn-outlined {
          background: transparent;
          color: var(--light);
          border: 1px solid var(--light);
          border-radius: 8px;
          padding: 0.96rem 1.5rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 0.2s all;
          text-decoration: none;

          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
