<div class="container">
  <section class="movies">
    <h1>Filmes em Cartaz</h1>

    <div class="movie-card" *ngFor="let movie of movies | async">
      <div class="card-header">
        <a routerLink="/movie">
          <img
            loading="lazy"
            [src]="posterPath + movie.poster_path"
            alt="O Urso do Pó Branco"
          />
        </a>
      </div>
      <div class="card-body">
        <div class="score">
          <strong>65<sup>%</sup></strong>
        </div>
        <h2>
          <a href="#">{{ movie.title }}</a>
        </h2>
        <time>{{ movie.release_date }}</time>
        <div class="rating">
          <p>Avaliação</p>
          <star-rating
            [starType]="'svg'"
            [rating]="3"
            style="margin-left: -5px"
          ></star-rating>
        </div>
      </div>
    </div>

    <!-- <div class="movie-card">
      <div class="card-header">
        <a href="">
          <img
            loading="lazy"
            src="https://www.themoviedb.org/t/p/w220_and_h330_face/5WCM2gGB0mGunbssHX7okAoEeUv.jpg"
            alt="Shazam! Fúria dos Deuses"
          />
        </a>
      </div>
      <div class="card-body">
        <div class="score">
          <strong>70<sup>%</sup></strong>
        </div>
        <h2>
          <a href="#">Shazam! Fúria dos Deuses</a>
        </h2>
        <time>16 de mar de 2023</time>
        <div class="rating">
          <p>Avaliação</p>
          <star-rating
            [starType]="'svg'"
            [rating]="3"
            style="margin-left: -5px"
          ></star-rating>
        </div>
      </div>
    </div>

    <div class="movie-card">
      <div class="card-header">
        <a href="">
          <img
            loading="lazy"
            src="https://www.themoviedb.org/t/p/w220_and_h330_face/94sQjlkHykPEyAPfuwB3FIUyzdB.jpg"
            alt="John Wick 4: Baba Yaga"
          />
        </a>
      </div>
      <div class="card-body">
        <div class="score">
          <strong>81<sup>%</sup></strong>
        </div>
        <h2>
          <a href="#">John Wick 4: Baba Yaga</a>
        </h2>
        <time>23 de fev de 2023</time>
        <div class="rating">
          <p>Avaliação</p>
          <star-rating
            [starType]="'svg'"
            [rating]="4"
            style="margin-left: -5px"
          ></star-rating>
        </div>
      </div>
    </div>

    <div class="movie-card">
      <div class="card-header">
        <a href="">
          <img
            loading="lazy"
            src="https://www.themoviedb.org/t/p/w220_and_h330_face/fa23RPI5UmXqCUICdEFS8uFjUda.jpg"
            alt="Creed III"
          />
        </a>
      </div>
      <div class="card-body">
        <div class="score">
          <strong>71<sup>%</sup></strong>
        </div>
        <h2>
          <a href="#">Creed III</a>
        </h2>
        <time>02 de mar de 2023</time>
        <div class="rating">
          <p>Avaliação</p>
          <star-rating
            [starType]="'svg'"
            [rating]="3"
            style="margin-left: -5px"
          ></star-rating>
        </div>
      </div>
    </div>

    <div class="movie-card">
      <div class="card-header">
        <a href="">
          <img
            loading="lazy"
            src="https://www.themoviedb.org/t/p/w220_and_h330_face/8LpnMIqpRiwxpbGR33ALCmVl7gj.jpg"
            alt="13 exorcismos"
          />
        </a>
      </div>
      <div class="card-body">
        <div class="score">
          <strong>62<sup>%</sup></strong>
        </div>
        <h2>
          <a href="#">13 exorcismos</a>
        </h2>
        <time>23 de fev de 2023</time>
        <div class="rating">
          <p>Avaliação</p>
          <star-rating
            [starType]="'svg'"
            [rating]="3"
            style="margin-left: -5px"
          ></star-rating>
        </div>
      </div>
    </div> -->
  </section>

  <app-footer></app-footer>
</div>
