<div class="container">
  <section class="new-movie">
    <h1>Novo Filme</h1>

    <form class="movie-form" [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <div class="upload">
        <img [src]="url" />
      </div>
      <div class="input-group">
        <label for="title">
          <span>Título do Filme</span>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Título do filme"
            formControlName="title"
            required
          />

          <div
            *ngIf="title.invalid && (title.dirty || title.touched)"
            class="alert"
          >
            <div *ngIf="title.errors?.['required']">Título é obrigatório.</div>
            <div *ngIf="title.errors?.['minlength']">
              Título deve ter pelo menos 4 caracteres.
            </div>
          </div>
        </label>

        <label for="release_date">
          <span>Ano Lançamento</span>
          <input
            type="number"
            name="release_date"
            id="release_date"
            placeholder="Ex: 2023"
            min="4"
            minlength="4"
            formControlName="release_date"
            required
          />

          <div
            *ngIf="
              release_date.invalid &&
              (release_date.dirty || release_date.touched)
            "
            class="alert"
          >
            <div *ngIf="release_date.errors?.['required']">
              Ano de lançamento é obrigatório.
            </div>
            <div *ngIf="release_date.errors?.['minlength']">
              Ano de lançamento deve ter pelo menos 4 caracteres.
            </div>
          </div>
        </label>

        <label for="genre">
          <span>Gênero</span>
          <input
            type="text"
            name="genre"
            id="genre"
            placeholder="Ex: Ação, Comédia, etc"
            formControlName="genre"
            required
          />

          <div
            *ngIf="genre.invalid && (genre.dirty || genre.touched)"
            class="alert"
          >
            <div *ngIf="genre.errors?.['required']">Gênero é obrigatório.</div>
            <div *ngIf="genre.errors?.['minlength']">
              Gênero deve ter pelo menos 4 caracteres.
            </div>
          </div>
        </label>

        <label for="vote_average">
          <span>IMDB</span>
          <input
            type="number"
            name="vote_average"
            id="vote_average"
            placeholder="Ex: 7"
            max="1"
            maxlength="1"
            formControlName="vote_average"
            required
          />

          <div
            *ngIf="
              vote_average.invalid &&
              (vote_average.dirty || vote_average.touched)
            "
            class="alert"
          >
            <div *ngIf="vote_average.errors?.['required']">
              IMDB é obrigatório.
            </div>
            <div *ngIf="vote_average.errors?.['minlength']">
              IMDB deve ter pelo menos 1 caracteres.
            </div>
          </div>
        </label>

        <label for="overview">
          <span>Descrição</span>
          <textarea
            name="overview"
            id="overview"
            placeholder="Informe a descrição do filme..."
            formControlName="overview"
            required
            rows="4"
          ></textarea>

          <div
            *ngIf="overview.invalid && (overview.dirty || overview.touched)"
            class="alert"
          >
            <div *ngIf="overview.errors?.['required']">
              Descrição é obrigatória.
            </div>
            <div *ngIf="overview.errors?.['minlength']">
              Descrição deve ter pelo menos 4 caracteres.
            </div>
          </div>
        </label>

        <div class="upload-section">
          <label for="file">
            <input
              #fileInput
              class="custom-file-input"
              id="file"
              type="file"
              accept=".png, .jpg, .jpeg"
              formControlName="file"
              (change)="onSelectFile($event)"
              required
            />
          </label>
          <button class="btn-secondary" (click)="uploadFile()">
            <i class="fa-solid fa-upload fa-lg"></i>
            Upload
          </button>
        </div>

        <div class="action">
          <button
            type="submit"
            [disabled]="!movieForm.valid"
            class="btn-primary"
          >
            Salvar Filme
          </button>
          <button class="btn-outlined" (click)="onCancel()">Cancelar</button>
        </div>
      </div>
    </form>
  </section>

  <app-footer></app-footer>
</div>
