<div class="container">
  <section class="new-movie">
    <h1>Novo Filme</h1>

    <form class="movie-form" [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <div class="upload">
        <img [src]="url" />
      </div>
      <div class="input-group">
        <label for="title">
          <span>Título do Filme</span>
          <input
            type="text"
            name="title"
            id="title"
            formControlName="title"
            required
          />
        </label>
        <label for="releaseYear">
          <span>Ano Lançamento</span>
          <input
            type="text"
            name="releaseYear"
            id="releaseYear"
            formControlName="releaseYear"
            required
          />
        </label>
        <label for="genre">
          <span>Gênero</span>
          <input
            type="text"
            name="genre"
            id="genre"
            formControlName="genre"
            required
          />
        </label>
        <label for="imdb">
          <span>IMDB</span>
          <input
            type="number"
            name="imdb"
            id="imdb"
            max="1"
            maxlength="1"
            formControlName="imdb"
            required
          />
        </label>
        <label for="overview">
          <span>Descrição</span>
          <textarea
            name="overview"
            id="overview"
            formControlName="overview"
            required
            rows="4"
          ></textarea>
        </label>

        <div class="upload-section">
          <label for="inputFile">
            <!-- <i class="fa-regular fa-image fa-2xl"></i> -->
            <input
              #fileInput
              class="custom-file-input"
              id="inputFile"
              type="file"
              accept=".png, .jpg, .jpeg"
              formControlName="inputFile"
              (change)="onSelectFile($event)"
              required
            />
          </label>
          <button class="btn-secondary" (click)="uploadFile()">
            <i class="fa-solid fa-upload fa-lg"></i>
            Upload
          </button>
        </div>

        <div class="action">
          <button
            type="submit"
            [disabled]="!movieForm.valid"
            class="btn-primary"
          >
            Salvar Filme
          </button>
          <button class="btn-outlined" (click)="onCancel()">Cancelar</button>
        </div>
      </div>
    </form>
  </section>

  <app-footer></app-footer>
</div>
