/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import "~css-star-rating/css/star-rating.min.css";

:root {
  --primary: #f4702a;
  --primaryHover: #d8672a;
  --dark: #072551;
  --darkHover: #24142e;
  --white: #fff;
  --light: #d8d8d8;
  --body: #797979;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

:focus {
  outline: transparent;
}

img,
a img {
  outline: none;
}
